{% extends "base.html" %}
{% block content %}
  {% for blog in blogs %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{blog.subject}}</h3>
      </div>
      <div class="panel-body">{{blog.content | safe}}</div>
      <div class="panel-footer text-right">

        {% if user.name == blog.author.name %}
          <p class="pull-left author-by"><span>My Post</span></p>
        {% else %}
          <p class="text-left author-by">Author: {{blog.author.name}}</p>
        {% endif %}

        {% include "like-unlike-post.html" %}


        {% if user.name == blog.author.name %}
          <a href="/edit/{{blog.key.id()}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <form id="form-delete-post" method="post" action="/delete/{{blog.key.id()}}">
            <a onclick="document.getElementById('form-delete-post').submit()">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </form>
        {% endif %}

      </div>
    </div>

    {% include "new-comment.html" %}

    {% include "show-comments.html" %}

  {% endfor %}
{% endblock %}
