{% extends "base.html" %}
{% block content %}
  {% for blog in blogs %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{blog.subject}}</h3>
      </div>
      <div class="panel-body">{{blog.content | safe}}</div>
      <div class="panel-footer text-right">

        {% if user.name == blog.author.name %}
          <p class="pull-left author-by"><span>My Post</span></p>
        {% else %}
          <p class="text-left author-by">Author: {{blog.author.name}}</p>
        {% endif %}

        <form method="post">
          {% if user %}
            <a href="/{{blog.key.id()}}">
              <span class="glyphicon glyphicon-heart"></span>
            </a>
          {% endif %}
          {% if user.name == blog.author.name %}
            <a href="/edit/{{blog.key.id()}}">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="/delete/{{blog.key.id()}}">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          {% endif %}
        </form>
      </div>
    </div>

    {% include "new-comment.html" %}

    {% include "show-comments.html" %}

  {% endfor %}
{% endblock %}
